.secao-autora {
  background-color: #e4b7e5;
  @include flexbox($justify-content: center);
   > div {
      text-align: center;
      @include flexbox(column, center, space-around);
      padding: 2rem 0;
    }

  &__foto {
      max-width: 150px;
  }
  &__dados {
      color: #63458a;
      font-size: 1.6rem;
      line-height: 1.5;
      margin-top: 1rem;
    }

  a {
      font-style: italic;
      text-decoration: underline;
    }

  @media (min-width: 1024px){
        & > div {
          @include flexbox($flex-direction:row, $justify-content: center);
          text-align: left;
          padding: 0;
        }
        &__dados {
          margin: 0 3rem;
        }
    }
}